#sum_of_interior_angles, #measure_of_interior_angles, #measure_of_exterior_angles, #measure_of_central_angles{
    border:3px solid black;
    width:400px;
}
#copy_right_footer{
    border:3px solid black;
    height:60px;
    text-align: center;
} 

